* {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 36px;
}
/*header*/

.navbar {
  background-color: #1C1F3D;
}

.menu {
  color: #F6CD40;
}

.logo_header {
  width: 24%;
}

.nav_menu {
  margin: auto;
}

.jumbotron_image {
  width: 100%;
}

.title_header {
  position: absolute;
  width: 50%;
  background-color: #fafafa;
  font-size: 36px;
  opacity: 80%;
}


/*INDEX*/

.presentation {
  margin-top: 80px;
  line-height: 30px;
}

.logo_gamezone {
  width: 100%;
  padding-bottom: 20px;
}

.title_index {
  margin: 30px 0 30px 0;
}

.offer {
  color: #1C1F3D;
  font-size: 24px;
}

.offer_card {
  margin-bottom: 30px;
}

.title_card {
  background-color: #F6CD40;
}

.best_attraction {
  margin: 30px 0 30px 0;
}


 .actuality {
   font-size: 18px;
 }

 /*Footer*/
 footer {
   background-color: #1C1F3D;
 }

 .text_footer {
   color: #F6CD40;
 }

 .logo a {
   color: #F6CD40;
 }

.timetable {
  padding: 30px 0 40px 0;
}

.follow {
  padding-top: 70px;
}

.icon {
  padding: 30px 10px 0 0;
}

.info {
  padding-top: 40px;
  line-height: 30px;
}

/* page carts start here */

.first_titre_r {
  margin-left: 5%;
  font-size: 1.5em;
}
.frist_ligne_cart {
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex-wrap: nowrap;
}
.frist_ligne_content {
  margin-left: 2em;
}
.items_cart_product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.total_cart {
  text-align: right;
}
.button_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex_cart_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}